<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        <label for="inputName">Имя:</label>
        <input type="text" name="inputName"><br><br>

        <label for="inputPassword">Пароль:</label>
        <input type="password" name="inputPassword"><br><br>

        <label for="inputEmail">Email:</label>
        <input type="email" name="inputEmail"><br><br>

        <label for="inputPasswordAgain">Повторите пароль:</label>
        <input type="password" name="inputPasswordAgain"><br><br>

        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>
